<ul>
<% @products.each do |product| %>
 <ul> 
   <li> Name: <%= product.name %></li>
   <li> Description: <%= product.description %></li>
   <li> Price: <%= product.price %></li>
 </ul>
 <br/>
<% end %>
</ul>


