<% @products.each do |product| %>
	<div class="product-listing">
		<h3><%= link_to product.name, product %></h3>
		<div class="product-images">
			<% product.images.each do |product_image| %>
				<span class="product-thumbnail"><%= image_tag product_image, width: 80 %></span>
			<% end if product.images.present? %>
		</div>
		<div class="product-info">Price: <%= number_to_currency product.price, locale: :us %></div>
		<div class="product-description">
			<%= truncate product.description, length: 140 %>
		</div>
	</div>
<% end %>