<div class="card-content">
  <p class="card-title">
    {{ content }}
  </p>
</div>
<div class="card-action">
  <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
  <span class="tweet__date">{{ createdAt }}</span>
</div>