.form
  h1 Add new contact
  form(name="new-contact")
      p First Name:
      input(type="text", name="first-name")
      p Last Name:
      input(type="text", name="last-name")
      p Title:
      input(type="text", name="title")
      input(type="submit", value="contact")
