html
  head
    title Contact Barn
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Contact Barn
    block main
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='scripts/app.js')
