node_modules
bower_components
.project
dist
coverage
.tmp
.sass-cache


.env
.DS_Store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes
/log/*.log

# Emacs temp files
*~
*#*

# Ctags
TAGS
tags

# VI temp files
*.swp
*.swo
*.log
.env
.DS_Store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes
/log/*.log

# Emacs temp files
*~
*#*

# Ctags
TAGS
tags

# VI temp files
*.swp
*.swo
*.log
