<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">jQuery Events</h1>

        <p class="inner">
          <a href="#" class="btn btn-lg btn-default" id="click-me-button">Click me!</a>
          <a href="#" class="btn btn-lg btn-default" id="random-color-button">Click me too!</a>
        </p>

        <h3 class="color-changing">We</h3>
        <h3 class="color-changing">Can</h3>
        <h3 class="color-changing">Change</h3>
        <h4 class="color-changing">(click us!)</h4>

        <h2 id="disorient" class="inner">D I S O R I E N T</h2>

        <h3>Funny Words</h3>

        <ol id="words-list">
          <li>cromulent</li>
          <li>embiggen</li>
        </ol>

        <form id="word-form">
          <input type="text" placeholder="Add a word" id="word-field">
          <input type="submit" value="Go!">
        </form>

        <p class="inner">
          <a href="#" class="btn btn-lg btn-default" id="randomize-words-button">Randomize all!</a>
        </p>
      </div>
    </div>
  </div>
</div>
