<!DOCTYPE html>
<html>
  <head>
    <script src="bower_components/angular/angular.js"></script>

    <style>
      /* green */
      .fieldValid {
        background: #00ff00;
      }
      /* red */
      .fieldInvalid {
        background: #ff0000;
      }
    </style>
  </head>

  <body ng-app="myapp">

    <div ng-controller="MyController" >
      <form name="myFormNg">

        <input type="text" name="firstName" ng-model="myForm.firstName" ng-minlength="2" ng-maxlength="15" required ng-class="myForm.getFormFieldCssClass(myFormNg.firstName)"> First name <br/>

        <input type="text" name="lastName"  ng-model="myForm.lastName" ng-minlength="4" ng-maxlength="10" ng-required ng-class="myForm.getFormFieldCssClass(myFormNg.lastName)"> Last name <br/>
  
        <input type="number" name="age"  ng-model="myForm.age" ng-pattern="/^\d{1,3}$/" min=1 max=115>Age<br/>
        <br/>
        
        Sign Agreement: <input type="checkbox" ng-model="myForm.signedAgreement" >
        <br/>
        Wants to recieve the newsletter: <input type="checkbox" ng-model="myForm.wantsNewsLetter" ng-true-value="'yes'" ng-false-value="'no'">
        <br/>

        <fieldset>
          <legend>Newsletter</legend>
          Daily <input type="radio" ng-model="myForm.whichNewsLetter" value="dailyNews"/>
          <br/>
          Weekly <input type="radio" ng-model="myForm.whichNewsLetter" value="weeklyNews"/>
          <br/>
          Monthly <input type="radio" ng-model="myForm.whichNewsLetter" value="monthlyNews"/>
          <br/>
        </fieldset>

        <label for="car-model">Select Car Make</label>
        <select id="car-model" ng-model="myForm.car" ng-options="obj.id as obj.name group by obj.type for obj in myForm.options">
        </select>

      </form>

      <div>
        <!-- Just show the models/properties bound to the input field -->
        <p>Name: {{myForm.firstName}} {{myForm.lastName}}</p>
        <p>Age: {{myForm.age}}</p>
        <p>Signed Agreement: {{myForm.signedAgreement}}</p>
        <p>Wants Newsletter: {{myForm.wantsNewsLetter}}</p>
        <p>Which Newsletter: {{myForm.whichNewsLetter}}</p>
        <p>Selected Car: {{myForm.car}}</p>

        <p>Form is VALID, $valid is {{myFormNg.$valid}}</p>
        <p>Form is INVALID, $invalid is {{myFormNg.$invalid}}</p>

        <p>Form is PRISTINE, $pristine, no form fields have changed, {{myFormNg.$pristine}}</p>
        <p>Form is INVALID, $dirty, form fields have been changed, {{myFormNg.$dirty}}</p>
      </div>
    </div>

    <script>
      angular.module("myapp", [])
      .controller("MyController", function($scope) {
      $scope.myForm = {};
      // init the name
      $scope.myForm.firstName = "Jakob";
      $scope.myForm.lastName  = "Jenkov";

      $scope.myForm.signedAgreement = false;
      $scope.myForm.wantsNewsLetter = 'yes';

      $scope.myForm.whichNewsLetter = 'weeklyNews';

      $scope.myForm.car = 'nissan';

      $scope.myForm.options = [
      { id : "nissan", name: "Nissan", type: 'foreign' },
      { id : "toyota", name: "Toyota", type: 'foreign' },
      { id : "fiat"  , name: "Fiat", type: 'foreign' },
      { id : "ford"  , name: "Ford", type: 'domestic' },
      { id : "chevy"  , name: "Chevolet", type: 'domestic' }
      ];

      $scope.myForm.getFormFieldCssClass = function(ngModelController) {
        console.log("getting css class: " + ngModelController.$valid);

        if(ngModelController.$pristine){
          return "";
        }

        return ngModelController.$valid ? "fieldValid" : "fieldInvalid";
      };

    });
    </script>

  </body>
</html>
