<!DOCTYPE html>
<html>
  <head>
    <title>Secure Users 'r' Us</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Secure Users 'r' Us</a></h1>
      <nav>
        <ul>
          <li><a href="/new">New user</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
