<h3>Customers</h3>
<br/>
<br/>
<table>
  <tr>
    <th ng-click="custCtrl.doSort('name')">Name</th>
    <th ng-click="custCtrl.doSort('city')">City</th>
    <th ng-click="custCtrl.doSort('orderTotal')">Order Total</th>
    <th ng-click="custCtrl.doSort('joined')">Join</th>
    <th>&nbsp</th>
  </tr>
  <tr ng-repeat="cust in custCtrl.customers | orderBy:custCtrl.sortyBy:custCtrl.reverse">
    <td>{{cust.name}}</td>
    <td>{{cust.city}}</td>
    <td>{{cust.orderTotal | currency }}</td>
    <td>{{cust.joined | date }}</td>
    <td><a href="#/orders/{{cust.id}}">View Orders</a></td>
  </tr>
</table>
<br/>
<span>Total customers: {{customers.length}}</span>
