body {
  font-family: $body-font;
  @extend .container;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
}
div, p {
  font-family: $body-font;
}
p.lead { font-size: $xlarge-font-size; }
.ng-enter, .ng-leave {
  @include transition(all,0.25s,ease,0);
}

hr.heavy {
  margin: 40px 0;
}

section#ajax-preloader {
  z-index: $z-ajax-preloader;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background: $white;
  background: rgba(255,255,255,0.9);
  div.animation{
    margin: 33% auto;
    background: url(../images/preloader.gif) no-repeat;
    width: 128px;
    height: 128px;
  }
}