<h1>Trusted Site - Embedded Content Security</h1>

<p>
    Welcome to the Embedded Content Security Lab.
</p>

<p>
    Please choose a topic below to get started:
</p>

<ul>
    <li><a href="/iframe-sandbox">iframe sandbox</a></li>
    <li><a href="/malicious-click-stealer">clickjacking</a></li>
</ul>
