<h3>{{ appSettings.title}} </h3>
<br/>

<!-- Add a Customer -->

<form name="customerForm" class="css-form">
  <fieldset>
    <legend>Customer</legend>

    <input type="text" ng-model="custCtrl.currentCustomer.name" name="custName" minlength="2" maxlength="15" required placeholder="Name" />
    <div ng-messages="customerForm.custName.$error">
        <span ng-message="minlength">Your name is too short.</span>
        <span ng-message="maxlength">Your name is too long.</span>
        <span ng-message="required">Your name is required.</span>
    </div>
    <br/>

    <input type="text" ng-model="custCtrl.currentCustomer.city" name='custCity' minlength="2" maxlength="10" placeholder="City"/>
    <div ng-messages="customerForm.custCity.$error">
        <span ng-message="minlength">Your city name is too short.</span>
        <span ng-message="maxlength">Your city name is too long.</span>
    </div>

  </fieldset>

  <br />
  <button ng-click="custCtrl.reset()" ng-disabled="custCtrl.isUnchanged()" >Reset</button>
  <button ng-click="custCtrl.create()" ng-disabled="custCtrl.form.$invalid || custCtrl.isUnchanged()">Create Customer</button>

</form>

<!-- Show all Customers -->
<hr>
<br/>
Filter: <input type="text" ng-model="customerFilter.name"/>
<br/>
<table>
  <tr>
    <th ng-click="custCtrl.doSort('name')">Name</th>
    <th ng-click="custCtrl.doSort('city')">City</th>
    <th ng-click="custCtrl.doSort('orderTotal')">Order Total</th>
    <th ng-click="custCtrl.doSort('joined')">Joined</th>
    <th>&nbsp;</th>
  </tr>
  <tr ng-repeat="cust in custCtrl.customers | filter: customerFilter | orderBy:custCtrl.sortBy:custCtrl.reverse">
    <td>{{ cust.name }}</td>
    <td>{{ cust.city}}</td>
    <td>{{ cust.orderTotal | currency }}</td>
    <td>{{ cust.joined | date}}</td>
    <td><a href="#/orders/{{cust.id}}">View Orders</a></td>
  </tr>
</table>
<br/>
<span>Total customers: {{custCtrl.customers.length}}</span>
<br/>
<br/>
<footer>Version: {{ appSettings.version }}</footer>
