<h3>{{ appSettings.title}} </h3>
<br/>
<form novalidate name='form' class="css-form">

  Customer Name: <input type="text" ng-model="custCtrl.currentCustomer.name" name="cName" required />
  <br />

  Customer City: <input type="text" ng-model="custCtrl.currentCustomer.city" name='cCity' />
  <br />
<!--
  Email: <input type="email" ng-model="custCtrl.currentCustomer.email" name="cEmail" required/><br />

  <span ng-show="custCtrl.form.uEmail.$error.required">Tell us your email.</span>
  <span ng-show="custCtrl.form.uEmail.$error.email">This is not a valid email.</span>

  Gender: <input type="radio" ng-model="custCtrl.currentCustomer.gender" value="male" />male
  <input type="radio" ng-model="custCtrl.currentCustomer.gender" value="female" />female<br />
-->
  <button ng-click="custCtrl.reset()" ng-disabled="custCtrl.isUnchanged()" >Reset</button>

  <button ng-click="custCtrl.update()" ng-disabled="custCtrl.form.$invalid || custCtrl.isUnchanged()">Save</button>

</form>
<!--
<p> form is: {{ custCtrl.currentCustomer | json}}  </p>
<p> master is: {{ custCtrl.master | json}}  </p>
-->
<hr>
<br/>
Filter: <input type="text" ng-model="customerFilter.name"/>
<br/>
<table>
  <tr>
    <th ng-click="custCtrl.doSort('name')">Name</th>
    <th ng-click="custCtrl.doSort('city')">City</th>
    <th ng-click="custCtrl.doSort('orderTotal')">Order Total</th>
    <th ng-click="custCtrl.doSort('joined')">Joined</th>
    <th>&nbsp;</th>
  </tr>
  <tr ng-repeat="cust in custCtrl.customers | filter: customerFilter | orderBy:custCtrl.sortBy:custCtrl.reverse">
    <td>{{ cust.name }}</td>
    <td>{{ cust.city}}</td>
    <td>{{ cust.orderTotal | currency }}</td>
    <td>{{ cust.joined | date}}</td>
    <td><a href="#/orders/{{cust.id}}">View Orders</a></td>
  </tr>
</table>
<br/>
<span>Total customers: {{custCtrl.customers.length}}</span>
<br/>
<br/>
<footer>Version: {{ appSettings.version }}</footer>
