<div class="row">
  <a class="ajax-button js-get" href="#">Get</a>
  <a class="ajax-button js-post" href="#">Post</a>
  <a class="ajax-button js-put" href="#">Put</a>
  <a class="ajax-button js-delete" href="#">Delete</a>
</div>
