<form id="new-submission-form">
  <div>
    <label for="sub-title">title</label>
    <input type="text" name="sub-title" placeholder="title goes here" id="sub-title">
  </div>
  <div>
    <label for="sub-url">url</label>
    <input type="text" name="sub-url" placeholder="url goes here" id="sub-url">
  </div>
  <div>
    <label for="sub-text">text</label>
    <textarea type="text" name="sub-text" placeholder="text goes here" id="sub-text"></textarea>
  </div>
  <div>
    <select name="users">
      <option value="1">Jason</option>
    </select>
  </div>
  <button type="submit">Submit</button>
</form>