<form action="/output">
  <fieldset>
    <label for="temperatue">Convert</label>
    <input type="text" id="temperature" value="72" />&deg;
  </fieldset>
  <fieldset>
    from
    <select>
      <option value="c">Celsius</option>
      <option value="f" selected="true">Fahrenheit</option>
      <option value="k">Kelvin</option>
    </select>
  </fieldset>
  <fieldset>
    to
    <select>
      <option value="c" selected="true">Celsius</option>
      <option value="f">Fahrenheit</option>
      <option value="k">Kelvin</option>
    </select>
  </fieldset>
  </p>
  <button class="primary full-width" type="submit">Submit</button>
</form>
