<h1>Add New Guitar</h1>
<form class="lower-margin-box" action='/guitars/new' method="POST">
  Make: <input name="make" type="text" ><br>
  Model: <input name="model" type="text" ><br>
  Year: <input name="year" type="text" ><br>
  Color: <input name="color" type="text" ><br>
  <button>Add Guitar</button>
</form>

