<h1>Listing apps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apps.each do |app| %>
  <tr>
    <td><%= app.name %></td>
    <td><%= app.price %></td>
    <td><%= app.description %></td>
    <td><%= link_to 'Show', app %></td>
<% end %>
</table>

