<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', [:edit, @commentable, @comment] %> |
<%= link_to 'Back', [@commentable, :comments] %>
